<div>
    <h4 class="mb-3">Wizard</h4>
    <div class="row">
        <div class="col-lg-12 mb-4">
            A wizard component that can be used to guide the user through a number of steps. It can be created simply by using
            the following HTML and calling $('#smartwizard').smartWizard() in the Typescript file. More info for further customization can be found on
            <a href="http://techlaboratory.net/smartwizard/documentation">http://techlaboratory.net/smartwizard/documentation</a>.
        </div>
    </div>
    <div id="wizardContainer" class="card">
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Step 1 Title<br><small>Step 1 description</small></a></li>
                <li><a href="#step-2">Step 2 Title<br><small>Step 2 description</small></a></li>
                <li><a href="#step-3">Step 3 Title<br><small>Step 3 description</small></a></li>
                <li><a href="#step-4">Step 4 Title<br><small>Step 4 description</small></a></li>
            </ul>

            <div>
                <div id="step-1">
                    <input type="email" name="email" id="email" class="w-100 form-control" placeholder="Write your email address">
                </div>
                <div id="step-2">
                    <input type="text" name="name" id="name" class="w-100 form-control" placeholder="Write your name">
                </div>
                <div id="step-3">
                    <input type="text" name="address" id="address" class="w-100 form-control" placeholder="Write your address">
                </div>
                <div id="step-4">
                    Confirm!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-4 col-lg-12">
            <app-highlight-include [highlight]="'./app/components/wizard/wizard.component.html#wizardContainer'"></app-highlight-include>
        </div>
    </div>
</div>
