<div class="col-12 tab-navbar tab-container" *ngIf="model">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/courses/list']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Courses.Title'"></span></a>
    </li>
  </ul>
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h2 class="text-dark">
        {{model.displayCode}} -
        {{model.name}}
      </h2>
    </div>
  </div>
</div>

<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="tab.data.title" [routerLink]="[tab.path]"
        [routerLinkActive]="'active'"></a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
