<div *ngIf="studentMessages">
    <div *ngIf="studentMessages.length != 0">
      <div class="row mt-2" *ngFor="let message of studentMessages;index as i;">
          <div class="col-12">
              <card-collapsible>
                <card-header>
                  <span class="mr-2">{{message.dateCreated | date : 'shortDate'}} </span>
                  <span class="mr-2">
                    <ng-template
                      *ngIf="message.action; then showActionSubject; else showMessageSubject">
                    </ng-template>
                    <ng-template #showActionSubject>
                      <a href="#/requests/{{message.action.id}}/edit" class="text-primary my-auto my-auto">{{'StudentRequestActionsTypes.' + message.action.additionalType | translate}}</a>
                    </ng-template>
                    <ng-template #showMessageSubject>
                      {{message.subject!='null'? message.subject : ('Unknown' | translate) }}
                    </ng-template>
                    <ng-template
                      *ngIf="!message.action && !message.subject then showDefaultSubject;">
                    </ng-template>
                    <ng-template #showDefaultSubject>
                      {{'Unknown' | translate}}
                    </ng-template>          
                  </span>      
                </card-header>
                <card-body>                    
                 <app-students-messages-preview-form [model]="message"></app-students-messages-preview-form>
                </card-body>
              </card-collapsible>
          </div>
      </div>
    </div>
    <div *ngIf="studentMessages.length == 0">
      <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" [translate]="'Students.NoMessages'"></p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  