app-highlight .card {
    border: 0;
    border-radius: 0;
}
app-highlight .card .card-body {
    padding: 0 0;
}
app-highlight .card .hljs {
    padding: 1.25rem 1.25rem;
    font-family: 'Inconsolata', 'Source Code Pro', 'monospace';
}
app-highlight pre {
    margin-bottom: 0 !important;
}
code.hljs {
    font-size: 0.875rem;
}
