<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
      <div class="card-body px-3 py-3">
        <form-collapsible [collapsed]="false">
          <form-header>
            <span [translate]="'Courses.CourseInfo'"></span>
          </form-header>
          <form-body>
            <app-courses-course-info-form [model]="model"></app-courses-course-info-form>
          </form-body>
        </form-collapsible>
      </div>
  </div>
  <div class="col-lg-12 col-md-6 col-sm-12">
      <div class="card-body px-3 py-3">
        <form-collapsible [collapsed]="false">
          <form-header>
            <span [translate]="'Courses.CourseDetails'"></span>
          </form-header>
          <form-body>
            <app-courses-course-details-form [model]="model"></app-courses-course-details-form>
          </form-body>
        </form-collapsible>
      </div>
  </div>
</div>
