<div class="row">
    <div class="col-sm-12">
        <div id="advanced-form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Users.AlternateName'"></label>
                            <input [(ngModel)]="filter.alternateName" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Users.Name' | translate }}">
                        </div>
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Users.Description'">Student</label>
                            <input [(ngModel)]="filter.description" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Users.Description' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                        <div class="form-group col-xl-6 col-md-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="searchText" [translate]="'Users.Id'"></label>
                                <input [(ngModel)]="filter.id" spellcheck="false" type="text"
                                    id="searchText" name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Users.Id' | translate }}">
                            </div>
                        </div>
                        <div class="form-group col-xl-6 col-md-6">
                            <div class="d-flex flex-row w-100">
                                <label class="pr-3" for="searchText" [translate]="'Users.Username'"></label>
                                <input [(ngModel)]="filter.username" spellcheck="false" type="text"
                                    id="searchText" name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Users.Username' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>