<div>
  <h4 class="mb-3">Modals</h4>
  <div class="row">
    <div class="col-lg-12 mb-4">
      Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="containerModal1">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" (click)="exampleModal1.show()">
        Launch modal
      </button>
      <!-- Modal -->
      <div class="modal fade" bsModal #exampleModal1="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title text-center">The quick brown fox</h1>
              <button type="button" class="close" (click)="exampleModal1.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              The quick brown fox jumps over the lazy dog. The five boxing wizards jump quickly.
            </div>
            <div class="modal-footer text-center">
              <button type="button" (click)="exampleModal1.hide()" class="btn btn-outline-secondary btn-ok">OK</button>
              <button type="button" (click)="exampleModal1.hide()" class="btn btn-outline-secondary btn-cancel">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include [highlight]="'./app/components/modals/modals.component.html#containerModal1'"></app-highlight-include>
    </div>
  </div>

</div>
