<form class="mt-2 collapsible-form">
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="givenName" [translate]="'Students.GivenName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text"
          [(ngModel)]="model.person.givenName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="familyName" [translate]="'Students.FamilyName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="familyName" name="familyName" type="text"
          [(ngModel)]="model.person.familyName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="middleName" [translate]="'Students.FatherName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="middleName" name="middleName" type="text"
          [(ngModel)]="model.person.fatherName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="studentStatus" [translate]="'Students.Status'"></label>
        <input [disabled]="true" class="form-control bg-white" id="studentStatus" name="studentStatus" type="text"
          [value]="'StudentStatuses.' + model.studentStatus.alternateName | translate" [ngClass]="{
                      'text-success': model.studentStatus.alternateName ==='active',
                      'text-danger': model.studentStatus.alternateName ==='erased',
                      'text-primary': model.studentStatus.alternateName ==='graduated',
                      'text-warning': model.studentStatus.alternateName ==='suspended',
                      'text-dark': (model.studentStatus.alternateName ==='declared' || model.studentStatus.alternateName ==='null'),
                      'text-info': model.studentStatus.alternateName ==='candidate'}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="id" [translate]="'Students.studentIdentifier'"></label>
        <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
          [(ngModel)]="model.studentIdentifier">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="title" [translate]="'Students.MotherName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="title" name="title" type="text"
          [(ngModel)]="model.person.motherName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="email" [translate]="'Students.Email'"></label>
        <input [disabled]="true" class="form-control bg-white" id="email" name="email" type="text"
          [(ngModel)]="model.person.email">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="mobilePhone" [translate]="'Students.MobilePhone'"></label>
        <input [disabled]="true" class="form-control bg-white" id="mobilePhone" name="mobilePhone" type="text"
          [(ngModel)]="model.person.mobilePhone">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="semester" [translate]="'Students.semester'"></label>
        <input [disabled]="true" class="form-control bg-white" id="semester" name="semester" type="text"
          [(ngModel)]="model.semester">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="department" [translate]="'Students.Department'"></label>
        <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text"
          [(ngModel)]="model.department.abbreviation">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="studyProgram" [translate]="'Students.studyProgram'"></label>
        <input [disabled]="true" class="form-control bg-white" id="studyProgram" name="studyProgram" type="text"
          [(ngModel)]="model.studyProgram.abbreviation">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="inscriptionYear" [translate]="'Students.inscriptionYear'"></label>
        <input [disabled]="true" class="form-control bg-white" id="inscriptionYear" name="inscriptionYear" type="text"
          [(ngModel)]="model.inscriptionYear.alternateName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="userName" [translate]="'Students.UserName'"></label>
        <div *ngIf="model.user; else noUser ">
          <input [disabled]="true" class="form-control bg-white" id="userName" name="userName" type="text"
            [(ngModel)]="model.user.name">
        </div>
        <ng-template #noUser><input [disabled]="true" class="form-control bg-white" id="userName2" name="userName"
            type="text"></ng-template>
      </div>
    </div>

  </div>
</form>
