<div *ngIf="model">
  <div *ngIf="model.length > 0">
    <div class="row mt-2" *ngFor="let exam of model;">
      <div class="col-12">
        <card-collapsible>
          <card-header>
        {{exam?.examPeriod?.name}} {{exam?.year?.alternateName}}
            <span>&nbsp;</span>
            -
            <span *ngIf="exam?.status ||exam?.status ===0; else noStatus" [translate]="'ExamStatus.' + exam?.status?.alternateName"
                  [ngClass]="exam?.status?.alternateName === 'completed' ?'text-success':
                           exam?.status?.alternateName === 'closed' ?'text-danger':
                           exam?.status?.alternateName === 'inprogress' ?'text-color-theme ':'text-success'"></span>
            <span>&nbsp;</span>
            <ng-template #noStatus><span [translate]="'Theses.ThesisStatus.NoStatus'"></span></ng-template>
          </card-header>
          <card-body>
            <app-exams-preview-form [model]="exam"></app-exams-preview-form>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <a href="#/exams/{{exam?.id}}/preview/general" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
              </div>
            </div>
          </card-body>
        </card-collapsible>
      </div>
    </div>
  </div>
  <div class="mb-3" *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'Courses.NoExams'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
