<div *ngIf="data">
  <div class="card" *ngIf="data.length > 0">
    <div class="card-header d-md-flex">
      <h5 [translate]="'Students.Courses'" class="mr-3 my-auto "></h5>
    </div>
    <div class="card-body pt-0" *ngFor="let  semesterCourses of data| groupBy: 'semester.alternateName' | values">
      <h4 class="text-secondary">{{ semesterCourses[0].semester.alternateName }} {{ 'Students.Semester' | translate }} </h4>
      <div id="group-list"  class="flex-column" >
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-md-block text-left" [translate]="'Students.Course'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block text-left" [translate]="'Students.CourseDisplayCode'"></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block px-4 text-truncate" [translate]="'Students.Instructor'"></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block text-left text-truncate" [translate]="'Students.Exam'"></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block text-left" [translate]="'Students.Type'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.units'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block " [translate]="'Students.Εcts'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block " [translate]="'Students.Coefficient'"></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block " [translate]="'Students.calculateUnits'"></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block " [translate]="'Students.calculateGrades'"></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block text-truncate" [translate]="'Students.RegistrationType'"></div>
              <div class="sis--list-group-item_sm_column "></div>
              <div class="sis--list-group-item_sm_column text-right" [translate]="'Students.Grade'"></div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li *ngFor="let class of semesterCourses | orderBy: 'course.displayCode'" class="sis--list-group-item" >
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column  text-wrap"><span>{{ class?.courseTitle }}</span>            </div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="font-xs text-secondary">{{ class?.course?.displayCode }}</span></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block text-truncate ">
                <ng-container *ngIf="class?.gradeExam">
                  <ng-container *ngIf="class?.gradeExam?.instructors">
                    <ng-container *ngFor="let examInstructor of class?.gradeExam?.instructors;let i = index;">
                      <div><span class="font-xs text-secondary">{{examInstructor?.instructor?.familyName}}</span></div>
                    </ng-container>
                  </ng-container>
                </ng-container></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block text-wrap text-lg-left pl-2"><span class="font-xs text-secondary">
                  {{ class?.gradeYear?.alternateName }} {{ class?.examPeriod?.name }}</span>
              </div>
              <div class="sis--list-group-item_md_column d-none d-xl-block text-truncate  text-left"><span class="font-xs text-secondary">{{class.courseType?  class?.courseType?.name : '-' }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="font-xs text-secondary">{{ class?.units }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="font-xs text-secondary">{{ class?.ects }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="font-xs text-secondary">{{ class?.coefficient }}</span></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block "><span class="font-xs text-secondary">{{ 'Students.CalculateUnits.' + class?.calculateUnits | translate }}</span></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block "><span class="font-xs text-secondary">{{  'Students.CalculateGrade.' + class?.calculateGrade | translate }}</span></div>
              <div class="sis--list-group-item_md_column d-none d-xl-block "><span class="font-xs text-secondary">{{ 'Students.registrationType.' + class?.registrationType | translate  }}</span></div>
              <div class="sis--list-group-item_sm_column "> </div>
              <div class="sis--list-group-item_sm_column text-right">
              <span class="font-2xl text-secondary" [ngClass]="class?.isPassed ? 'text-success' : 'text-danger'">
                {{ class?.formattedGrade}}
              </span>
              </div>
            </div>
            <div *ngIf="class.courses && class.courses.length>0">
              <div class="d-flex justify-content-center align-items-center list-color pt-2 pb-2" *ngFor="let course of class.courses">
                <div class='sis--list-group-item_lg_column pl-4 text-wrap'>{{course.course.name}}</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block text-left'><span class="font-xs text-secondary">{{course.course.displayCode}}</span></div>
                <div class='sis--list-group-item_md_column d-none d-xl-block text-truncate'>
                  <ng-container *ngIf="course.gradeExam">
                    <ng-container *ngIf="course.gradeExam.instructors">
                      <ng-container *ngFor="let examInstructor of course.gradeExam.instructors;let i = index;">
                        <div><span class="font-xs text-secondary">{{examInstructor?.instructor?.familyName}}</span></div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
                <div class='sis--list-group-item_md_column d-none d-xl-block text-left'><span class="font-xs text-secondary ">{{ course?.gradeYear?.alternateName }} {{ course?.examPeriod?.name }}</span></div>
                <div class='sis--list-group-item_md_column d-none d-xl-block '>-</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block'>-</div>
                <div class='sis--list-group-item_md_column d-none d-xl-block'>-</div>
                <div class='sis--list-group-item_md_column d-none d-xl-block'>-</div>
                <div class='sis--list-group-item_md_column d-none d-xl-block'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block  '><span class="font-xs text-secondary ">{{course?.calculated != 0   ? course?.coursePercent + '%'  : 'Students.NotCalculated' | translate }}</span></div>
                <div class='sis--list-group-item_sm_column font-weight-bold font-1xl text-right' [ngClass]="(course.isPassed)?'text-success':'text-secondary'">{{course.formattedGrade}}</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="data.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 [translate]="'Students.Courses'" class="mr-3 my-auto"></h5>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Students.NoCourses'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
