<div class="row">
  <div class="col-sm-12">
    <div id="advanced-form">

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
            <div class="form-group col-6">
              <label class="pr-3" for="searchstudyprogramname" [translate]="'StudyPrograms.Title'"></label>
              <input [(ngModel)]="filter.name" spellcheck="false" type="text" id="searchstudyprogramname"
                name="searchstudyprogramname" class="form-control col text-left"
                placeholder="{{ 'StudyPrograms.AdvancedSearch.StudyProgramPlaceHolder' | translate }}">
            </div>
            <div class="form-group col-6">
              <label class="pr-3" for="searchdepartmentname" [translate]="'StudyPrograms.DepartmentName'"></label>
              <input [(ngModel)]="filter.departmentname" spellcheck="false" type="text" id="searchdepartmentname"
                name="searchdepartmentname" class="form-control col text-left"
                placeholder="{{ 'StudyPrograms.AdvancedSearch.StudyProgramPlaceHolder' | translate }}">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
            <div class="form-group col-xl-4 col-md-6">
              <div class="d-flex flex-row w-100">
                <label class="pr-3" for="searchactive" [translate]="'StudyPrograms.Active.Singular'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.active">
                  <option [value]="undefined" [translate]="'StudyPrograms.AdvancedSearch.Choose'"></option>
                  <option [value]="'1'" [translate]="'StudyPrograms.AdvancedSearch.Yes'"></option>
                  <option [value]="'0'" [translate]="'StudyPrograms.AdvancedSearch.No'"></option>
                </select>
              </div>
            </div>
            <div class="form-group col-xl-4 col-md-6">
              <most-data #studylevels [model]="'StudyLevels'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="studylevels.value">
                <label class="pr-3" for="searchstudylevel" [translate]="'StudyPrograms.StudyLevel'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.studylevel">
                  <option [value]="undefined" [translate]="'StudyPrograms.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of studylevels.value" [value]="item.alternateName"
                    [translate]="'StudyLevels.' + item.alternateName"></option>
                </select>
              </div>
            </div>
            <div class="form-group col-xl-4 col-md-6">
              <div class="d-flex flex-row w-100 justify-content-md-end">
                <label class="pr-3" for="searchabbreviation" [translate]="'StudyPrograms.Abbreviation'"></label>
                <input [(ngModel)]="filter.abbreviation" spellcheck="false" type="text" id="searchabbreviation"
                  name="searchabbreviation" class="form-control col text-left"
                  placeholder="{{ 'StudyPrograms.AdvancedSearch.StudyProgramPlaceHolder' | translate }}">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>