<div>
    <h4 class="mb-3">Advanced Search Form (e.g. Internships)</h4>
    <div id="advanced-form">
        <div class="s--list-navbar d-none d-sm-block">
            <div id="collapse3" class="collapse multi-collapse show" aria-labelledby="heading3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="advanced-form">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                                                <div class="form-group col-6">
                                                    <label class="pr-3" for="searchText"
                                                        [translate]="'Internships.Subject'">Subject</label>
                                                    <input [(ngModel)]="filter.searchSubject" spellcheck="false"
                                                        type="text" id="searchText" name="searchText"
                                                        class="form-control col text-left"
                                                        placeholder="Part of the title">
                                                </div>
                                                <div class="form-group col-6">
                                                    <label class="pr-3" for="searchText"
                                                        [translate]="'Internships.Student'">Student</label>
                                                    <input [(ngModel)]="filter.searchStudentName" spellcheck="false"
                                                        type="text" id="searchText" name="searchText"
                                                        class="form-control col text-left" placeholder="Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                                                <div class="form-group col-sm-3">
                                                    <most-data #intershipStatusTypes [model]="'InternshipStatuses'">
                                                    </most-data>
                                                    <div class="d-flex flex-row w-100"
                                                        *ngIf="intershipStatusTypes.value">
                                                        <label class="pr-3" for="selectBox"
                                                            [translate]="'Internships.Status'">Status</label>
                                                        <select class="custom-select flex-grow-1"
                                                            [(ngModel)]="filter.searchStatus">
                                                            <option [value]="undefined"
                                                                [translate]="'Internships.Choose'">Choose</option>
                                                            <option *ngFor="let item of intershipStatusTypes.value"
                                                                [value]="item.alternateName"
                                                                [translate]="'InternshipStatus.'+ item.alternateName">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <most-data #intershipAcademicYears [model]="'AcademicYears'"
                                                        [top]="-1" [order]="'id desc'">
                                                    </most-data>
                                                    <div class="d-flex flex-row w-100"
                                                        *ngIf="intershipAcademicYears.value">
                                                        <label class="pr-3" for="selectBox"
                                                            [translate]="'Internships.YearAlternateName'">Academic
                                                            year</label>
                                                        <select class="custom-select flex-grow-1"
                                                            [(ngModel)]="filter.searchAcademicYear">
                                                            <option [ngValue]="undefined"
                                                                [translate]="'Internships.Choose'">Choose</option>
                                                            <option *ngFor="let item of intershipAcademicYears.value"
                                                                [ngValue]="item.id" [translate]="item.alternateName">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <most-data #intershipAcademicPeriods [model]="'AcademicPeriods'">
                                                    </most-data>
                                                    <div class="d-flex flex-row w-100"
                                                        *ngIf="intershipAcademicPeriods.value">
                                                        <label class="pr-3" for="selectBox"
                                                            [translate]="'Internships.InternshipPeriodAlternateName'">Academic
                                                            period</label>
                                                        <select class="custom-select flex-grow-1"
                                                            [(ngModel)]="filter.searchAcademicPeriod">
                                                            <option [value]="undefined"
                                                                [translate]="'Internships.Choose'">Choose</option>
                                                            <option *ngFor="let item of intershipAcademicPeriods.value"
                                                                [value]="item.alternateName"
                                                                [translate]="'Periods.' + item.alternateName"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <div class="d-flex flex-row w-100">
                                                        <label class="pr-3" for="selectBox"
                                                            [translate]="'Internships.StartDate'">Date start</label>
                                                        <input [(ngModel)]="filter.searchStartDate" type="text"
                                                            placeholder="Choose date" class="form-control col text-left"
                                                            bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YY' }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-0 mb-0" width="97%">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-inline pb-3 pt-3 pr-1 pl-1 col">
                                    <div class="form-group col-3">
                                        <div class="d-flex flex-row w-100">
                                            <label class="pr-3" for="selectBox"
                                                [translate]="'AdvancedSearch.SavedSearches'">Saved
                                                Searches</label>
                                            <select class="custom-select flex-grow-1">
                                                <option [value]="null" [translate]="'AdvancedSearch.Choose'">Choose
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="text col-3">
                                        <button type="button" class="btn btn-pill btn-light text-secondary"
                                            [translate]="'AdvancedSearch.SaveCurrentSearch'">Save current
                                            search</button>
                                    </div>
                                    <div class="col-6 text-right text-secondary">
                                        <button type="button" class="btn btn-success pl-5 pr-5 mr-5"
                                            [translate]="'Tables.Search'">Search</button>
                                        <button
                                            class="d-inline-block btn btn-link float-right text-secondary text-decoration-none"
                                            type="button" data-target=".multi-collapse" aria-expanded="false"
                                            aria-controls="collapse3">
                                            <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.Less'"></span>
                                            <i class="ml-2 pt-1 fa fa-chevron-up"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 col-lg-13">
        <app-highlight highlight="'#advanced-form'"></app-highlight>
    </div>
</div>