<div class="row">
    <div class="col-sm-12">
        <div id="advanced-form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Requests.AdditionalType'"></label>
                            <input [(ngModel)]="filter.additionalType" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Requests.AdditionalType' | translate }}">
                        </div>
                        <div class="form-group col-6">
                            <label class="pr-3" for="searchText" [translate]="'Requests.Student'">Student</label>
                            <input [(ngModel)]="filter.studentName" spellcheck="false" type="text" id="searchText"
                                name="searchText" class="form-control col text-left"
                                placeholder="{{ 'Requests.Name' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #StudentStatuses [model]="'StudentStatuses'"></most-data>
                            <div class="d-flex flex-row w-100" *ngIf="StudentStatuses.value">
                                <label class="pr-3" for="selectBox" [translate]="'Requests.StudentStatus'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.studentStatus">
                                    <option [value]="undefined" [translate]="'Requests.Choose'"></option>
                                    <option *ngFor="let item of StudentStatuses.value" [value]="item.alternateName"
                                        [translate]="'StudentStatuses.'+ item.alternateName"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #ActionStatusTypes [model]="'ActionStatusTypes'" [top]="-1" [order]="'id desc'">
                            </most-data>
                            <div class="d-flex flex-row w-100" *ngIf="ActionStatusTypes.value">
                                <label class="pr-3" for="selectBox" [translate]="'Requests.ActionStatusTitle'"></label>
                                <select class="custom-select flex-grow-1" [(ngModel)]="filter.actionStatus">
                                    <option [ngValue]="undefined" [translate]="'Requests.Choose'"></option>
                                    <option *ngFor="let item of ActionStatusTypes.value" [ngValue]="item.alternateName"
                                        [translate]="'ActionStatusTypes.' + item.alternateName"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xl-4 col-md-6">
                            <most-data #intershipAcademicPeriods [model]="'AcademicPeriods'"></most-data>
                            <div class="d-flex flex-row w-100 justify-content-md-end" *ngIf="intershipAcademicPeriods.value">
                                <label class="pr-3" for="searchText" [translate]="'Requests.StudentIdentifier'"></label>
                                <input [(ngModel)]="filter.studentIdentifier" spellcheck="false" type="text"
                                    id="searchText" name="searchText" class="form-control col-7 text-left"
                                    placeholder="{{ 'Requests.StudentIdentifier' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
