<!-- <div class="col-md-12">
  <app-advanced-table #courses></app-advanced-table>
</div> -->
<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="courses">
        <advanced-search>
          <app-study-programs-courses-advanced-table-search [(filter)]="filter.value"></app-study-programs-courses-advanced-table-search>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #courses [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>
</div>
