<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="exams">
        <advanced-search>
          <app-instructors-exams-advanced-table-search [(filter)]="filter.value">
          </app-instructors-exams-advanced-table-search>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #exams [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>
</div>
