<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title font-xl text-dark  my-auto" [translate]="'Students.Profile'"></h5>
    <a href="#/students/{{studentId}}/general" class="text-primary my-auto my-auto" [translate]="'Students.More'"></a>
  </div>
  <div class="card-body pt-0 pb-3">
    <div class="profile_avatar_box text-center mb-3">
      <div class="avatar avatar-12" [ngClass]="{
        'avatar-male-student' : student?.person?.gender.alternateName === 'male',
        'avatar-female-student' : student?.person?.gender.alternateName === 'female' }">
      </div><div><span>{{student?.person?.givenName}} {{student?.person?.familyName}}</span></div>
      <div><span class="text-gray-600">{{ 'StudentStatuses.' + student?.studentStatus?.alternateName | translate}}</span></div>
    </div>
    <div class="card-text row">
      <div class="col-12 col-md-6">
        <a href="mailto:{{student?.person?.email}}" class="btn btn-md bg-color-theme text-light w-100 mt-2" [translate]="'Students.ContactWithEmail'"></a>
      </div>
      <div class="col-12 col-md-6" >
        <a class="btn btn-md bg-white border-dark w-100 mt-2" (click)="enableMessages()" [translate]="'Students.NotifyStudent'"></a>
    </div>
  </div>

  <app-send-message-to-student [showMessageForm]="showMessageForm" [studentId]="this.studentId" (succesfulSend)="onsuccesfulSend($event)"></app-send-message-to-student>

  </div>
  <div class="card-footer border-top py-4 text-secondary">
    <div class="form-group row mb-1">
      <div class="col-5">
        <span [translate]="'Students.StudentID'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{student?.studentIdentifier}}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span [translate]="'Students.Semester'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{student?.semester}}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span [translate]="'Students.Department'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{student?.department?.abbreviation}}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span [translate]="'Students.studyProgram'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{student?.studyProgram?.abbreviation}}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span [translate]="'Students.InscriptionYear'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{student?.inscriptionYear?.alternateName}} {{'Periods.' + student?.inscriptionPeriod?.alternateName | translate}}</span>
      </div>
    </div>
  </div>
</div>
