<div class="row animated fadeIn">
  <div class="col-md-12 mb-4 d-flex justify-content-between">
    <h1 [translate]="'Dashboard.ModuleTitle'"></h1>
    <app-dashboard-department-info *ngIf="false"></app-dashboard-department-info>
  </div>
  <div class="col-md-12 mb-4 d-flex justify-content-center">
    <app-dashboard-quick-search *ngIf="false"></app-dashboard-quick-search>
    <app-dashboard-quick-actions *ngIf="false"></app-dashboard-quick-actions>
</div>
  <div class="col-lg-8 col-md-7 col-12">
    <app-dashboard-pending-student-requests></app-dashboard-pending-student-requests>
    <app-dashboard-exam-documents></app-dashboard-exam-documents>
  </div>

  <div class="col-lg-4 col-md-5 col-12">
  </div>
</div>

