<div>
    <h4>Checkboxes</h4>
    <div class="card card-body" id="checkboxes">
      <div class=row>
        <div class="col-auto">
          <div class="mb-1">None</div>
          <div class="mb-1">Primary</div>
          <div class="mb-1">Secondary</div>
          <div class="mb-1">Success</div>
          <div class="mb-1">Info</div>
          <div class="mb-1">Warning</div>
          <div class="mb-1">Danger</div>
          <div class="mb-1">Light</div>
          <div class="mb-1">Dark</div>
        </div>
        <div class="col-auto">
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox" type="checkbox" id="checkbox">
              <label for="checkbox">Enabled</label>

              <input disabled class="checkbox" type="checkbox" id="checkbox-disabled">
              <label for="checkbox-disabled" class="d-none d-sm-block ml-5">Disabled</label>

              <input disabled checked class="checkbox" type="checkbox" id="checkbox-disabled-checked">
              <label for="checkbox-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1" id="primary-checkboxes">
              <input checked class="checkbox checkbox-primary" type="checkbox" id="checkbox-primary">
              <label for="checkbox-primary">Enabled</label>

              <input disabled class="checkbox checkbox-primary" type="checkbox" id="checkbox-primary-disabled">
              <label for="checkbox-primary-disabled" class="d-none d-sm-block ml-5">Disabled</label>

              <input disabled checked class="checkbox checkbox-primary" type="checkbox" id="checkbox-primary-disabled-checked">
              <label for="checkbox-primary-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox checkbox-secondary" type="checkbox" id="checkbox-secondary">
              <label for="checkbox-secondary">Enabled</label>
              <input disabled class="checkbox checkbox-secondary" type="checkbox" id="checkbox-secondary-disabled">
              <label for="checkbox-secondary-disabled" class="d-none d-sm-block ml-5">Disabled</label>
              <input disabled checked class="checkbox checkbox-secondary" type="checkbox" id="checkbox-secondary-disabled-checked">
              <label for="checkbox-secondary-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox checkbox-success" type="checkbox" id="checkbox-success">
              <label for="checkbox-success">Enabled</label>
              <input disabled class="checkbox checkbox-success" type="checkbox" id="checkbox-success-disabled">
              <label for="checkbox-success-disabled" class="d-none d-sm-block ml-5">Disabled</label>
              <input disabled checked class="checkbox checkbox-success" type="checkbox" id="checkbox-success-disabled-checked">
              <label for="checkbox-success-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox checkbox-info" type="checkbox" id="checkbox-info">
              <label for="checkbox-info">Enabled</label>
              <input disabled class="checkbox checkbox-info" type="checkbox" id="checkbox-info-disabled">
              <label for="checkbox-info-disabled" class="d-none d-sm-block ml-5">Disabled</label>
              <input disabled checked class="checkbox checkbox-info" type="checkbox" id="checkbox-info-disabled-checked">
              <label for="checkbox-info-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox checkbox-warning" type="checkbox" id="checkbox-warning">
              <label for="checkbox-warning">Enabled</label>
              <input disabled class="checkbox checkbox-warning" type="checkbox" id="checkbox-warning-disabled">
              <label for="checkbox-warning-disabled" class="d-none d-sm-block ml-5">Disabled</label>
              <input disabled checked class="checkbox checkbox-warning" type="checkbox" id="checkbox-warning-disabled-checked">
              <label for="checkbox-warning-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox checkbox-danger" type="checkbox" id="checkbox-danger">
              <label for="checkbox-danger">Enabled</label>
              <input disabled class="checkbox checkbox-danger" type="checkbox" id="checkbox-danger-disabled">
              <label for="checkbox-danger-disabled" class="d-none d-sm-block ml-5">Disabled</label>
              <input disabled checked class="checkbox checkbox-danger" type="checkbox" id="checkbox-danger-disabled-checked">
              <label for="checkbox-danger-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox checkbox-light" type="checkbox" id="checkbox-light">
              <label for="checkbox-light">Enabled</label>
              <input disabled class="checkbox checkbox-light" type="checkbox" id="checkbox-light-disabled">
              <label for="checkbox-light-disabled" class="d-none d-sm-block ml-5">Disabled</label>
              <input disabled checked class="checkbox checkbox-light" type="checkbox" id="checkbox-light-disabled-checked">
              <label for="checkbox-light-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
          <div class="d-flex justify-content-between mb-1">
              <input checked class="checkbox checkbox-dark" type="checkbox" id="checkbox-dark">
              <label for="checkbox-dark">Enabled</label>
              <input disabled class="checkbox checkbox-dark" type="checkbox" id="checkbox-dark-disabled">
              <label for="checkbox-dark-disabled" class="d-none d-sm-block ml-5">Disabled</label>
              <input disabled checked class="checkbox checkbox-dark" type="checkbox" id="checkbox-dark-disabled-checked">
              <label for="checkbox-dark-disabled-checked" class="d-none d-sm-block ml-5">Checked and Disabled</label>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
        <app-highlight highlight="'#primary-checkboxes'"></app-highlight>
    </div>
</div>


<ul class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center">
        <div class="sis--list-group-item_sm_column">Color</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">Checkbox</div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">Disabled Checked Checkbox</div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">Disabled Checkbox</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">Radio 1</div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">Radio 2</div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">Disabled Checked Radio</div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">Disabled Radio</div>
      </div>
    </li>
  </ul>
  <ul class="sis--list-group sis--list-group-body">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">None</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox" type="checkbox" id="checkbox-enabled">
          <label for="checkbox-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox" type="checkbox" id="checkbox-disabled-checked">
          <label for="checkbox-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox" type="checkbox" id="checkbox-disabled">
          <label for="checkbox-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio" name="radio" type="radio" id="radio1-enabled">
          <label for="radio1-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio" name="radio" type="radio" id="radio2-enabled">
          <label for="radio2-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio" name="radio-disabled" type="radio" id="radio-disabled-checked">
          <label for="radio-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio" name="radio" type="radio" id="radio-disabled">
          <label for="radio-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Primary</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-primary" type="checkbox" id="checkbox-primary-enabled">
          <label for="checkbox-primary-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-primary" type="checkbox" id="checkbox-primary-disabled-checked">
          <label for="checkbox-primary-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-primary" type="checkbox" id="checkbox-primary-disabled">
          <label for="checkbox-primary-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-primary" name="radio-primary" type="radio" id="radio1-primary-enabled">
          <label for="radio1-primary-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-primary" name="radio-primary" type="radio" id="radio2-primary-enabled">
          <label for="radio2-primary-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-primary" name="radio-primary-disabled" type="radio" id="radio-primary-disabled-checked">
          <label for="radio-primary-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-primary" name="radio-primary" type="radio" id="radio-primary-disabled">
          <label for="radio-primary-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Secondary</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-secondary" type="checkbox" id="checkbox-secondary-enabled">
          <label for="checkbox-secondary-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-secondary" type="checkbox" id="checkbox-secondary-disabled-checked">
          <label for="checkbox-secondary-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-secondary" type="checkbox" id="checkbox-secondary-disabled">
          <label for="checkbox-secondary-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-secondary" name="radio-secondary" type="radio" id="radio1-secondary-enabled">
          <label for="radio1-secondary-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-secondary" name="radio-secondary" type="radio" id="radio2-secondary-enabled">
          <label for="radio2-secondary-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-secondary" name="radio-secondary-disabled" type="radio" id="radio-secondary-disabled-checked">
          <label for="radio-secondary-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-secondary" name="radio-secondary" type="radio" id="radio-secondary-disabled">
          <label for="radio-secondary-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Success</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-success" type="checkbox" id="checkbox-success-enabled">
          <label for="checkbox-success-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-success" type="checkbox" id="checkbox-success-disabled-checked">
          <label for="checkbox-success-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-success" type="checkbox" id="checkbox-success-disabled">
          <label for="checkbox-success-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-success" name="radio-success" type="radio" id="radio1-success-enabled">
          <label for="radio1-success-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-success" name="radio-success" type="radio" id="radio2-success-enabled">
          <label for="radio2-success-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-success" name="radio-success-disabled" type="radio" id="radio-success-disabled-checked">
          <label for="radio-success-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-success" name="radio-success" type="radio" id="radio-success-disabled">
          <label for="radio-success-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Info</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-info" type="checkbox" id="checkbox-info-enabled">
          <label for="checkbox-info-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-info" type="checkbox" id="checkbox-info-disabled-checked">
          <label for="checkbox-info-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-info" type="checkbox" id="checkbox-info-disabled">
          <label for="checkbox-info-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-info" name="radio-info" type="radio" id="radio1-info-enabled">
          <label for="radio1-info-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-info" name="radio-info" type="radio" id="radio2-info-enabled">
          <label for="radio2-info-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-info" name="radio-info-disabled" type="radio" id="radio-info-disabled-checked">
          <label for="radio-info-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-info" name="radio-info" type="radio" id="radio-info-disabled">
          <label for="radio-info-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Warning</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-warning" type="checkbox" id="checkbox-warning-enabled">
          <label for="checkbox-warning-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-warning" type="checkbox" id="checkbox-warning-disabled-checked">
          <label for="checkbox-warning-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-warning" type="checkbox" id="checkbox-warning-disabled">
          <label for="checkbox-warning-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-warning" name="radio-warning" type="radio" id="radio1-warning-enabled">
          <label for="radio1-warning-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-warning" name="radio-warning" type="radio" id="radio2-warning-enabled">
          <label for="radio2-warning-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-warning" name="radio-warning-disabled" type="radio" id="radio-warning-disabled-checked">
          <label for="radio-warning-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-warning" name="radio-warning" type="radio" id="radio-warning-disabled">
          <label for="radio-warning-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Danger</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-danger" type="checkbox" id="checkbox-danger-enabled">
          <label for="checkbox-danger-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-danger" type="checkbox" id="checkbox-danger-disabled-checked">
          <label for="checkbox-danger-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-danger" type="checkbox" id="checkbox-danger-disabled">
          <label for="checkbox-danger-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-danger" name="radio-danger" type="radio" id="radio1-danger-enabled">
          <label for="radio1-danger-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-danger" name="radio-danger" type="radio" id="radio2-danger-enabled">
          <label for="radio2-danger-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-danger" name="radio-danger-disabled" type="radio" id="radio-danger-disabled-checked">
          <label for="radio-danger-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-danger" name="radio-danger" type="radio" id="radio-danger-disabled">
          <label for="radio-danger-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item bg-dark">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Light</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-light" type="checkbox" id="checkbox-light-enabled">
          <label for="checkbox-light-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-light" type="checkbox" id="checkbox-light-disabled-checked">
          <label for="checkbox-light-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-light" type="checkbox" id="checkbox-light-disabled">
          <label for="checkbox-light-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-light" name="radio-light" type="radio" id="radio1-light-enabled">
          <label for="radio1-light-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-light" name="radio-light" type="radio" id="radio2-light-enabled">
          <label for="radio2-light-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-light" name="radio-light-disabled" type="radio" id="radio-light-disabled-checked">
          <label for="radio-light-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-light" name="radio-light" type="radio" id="radio-light-disabled">
          <label for="radio-light-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
    <li class="sis--list-group-item bg-light">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_sm_column">Dark</div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="checkbox checkbox-dark" type="checkbox" id="checkbox-dark-enabled">
          <label for="checkbox-dark-enabled" class="font-xs">Check1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="checkbox checkbox-dark" type="checkbox" id="checkbox-dark-disabled-checked">
          <label for="checkbox-dark-disabled-checked" class="font-xs">Check2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="checkbox checkbox-dark" type="checkbox" id="checkbox-dark-disabled">
          <label for="checkbox-dark-disabled" class="font-xs">Check3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-md-block">
          <input checked class="radio radio-dark" name="radio-dark" type="radio" id="radio1-dark-enabled">
          <label for="radio1-dark-enabled" class="font-xs">Radio1</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input class="radio radio-dark" name="radio-dark" type="radio" id="radio2-dark-enabled">
          <label for="radio2-dark-enabled" class="font-xs">Radio2</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-lg-block">
          <input disabled checked class="radio radio-dark" name="radio-dark-disabled" type="radio" id="radio-dark-disabled-checked">
          <label for="radio-dark-disabled-checked" class="font-xs">Radio3</label>
        </div>
        <div class="sis--list-group-item_sm_column d-none d-xl-block">
          <input disabled class="radio radio-dark" name="radio-dark" type="radio" id="radio-dark-disabled">
          <label for="radio-dark-disabled" class="font-xs">Radio4</label>
        </div>
      </div>
    </li>
  </ul>
