<div class="row" *ngIf="model">
  <div class="pt-4 pb-1">
    <div class="col-12">
      <h2 class="text-secondary">{{ model.name }} <span></span></h2>
    </div>
  </div>
</div>
<div class="row" *ngIf="model">
  <div class="col-12">
    <div class="row mt-4 mb-4">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12 col-md-6 col-sm-12">
              <div>
                <app-advanced-form-edit [formName]="src" [data]="model"></app-advanced-form-edit>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
